<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/new.css">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic' rel='stylesheet' type='text/css'>

    </head>
    <body>
      <div class="container">
        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

              {{ content }}

          <div class="footer" id="contact">
            <hr/>
            <div class="contact">
              <p>
                Kyle Daigle<br />
                Engineering Manager at GitHub.<br />
                <a href="mailto:kyledaigle@gmail.com">Email me</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://github.com/kdaigle/">github.com/kdaigle</a><br />
                <a href="http://twitter.com/kdaigle/">twitter.com/kdaigle</a><br />
                <a href="http://www.speakerdeck.com/kyledaigle">speakerdeck.com/kyledaigle</a><br/>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://5by5.tv/rubyonrails">Ruby on Rails Podcast</a><br />
              </p>
            </div>
          </div>
        </div>
      </div> <!-- /container -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42521422-1', 'kyledaigle.com');
        ga('send', 'pageview');

      </script>
    </body>
</html>
